@font-face {
  font-family: "Trebuchet MS";
  src: url(/assets/fonts/trebuc.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url(/assets/fonts/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gothic";
  src: url(/assets/fonts/GOTHIC.TTF) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GothicB";
  src: url(/assets/fonts/GOTHICB.TTF) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "GothicBI";
  src: url(/assets/fonts/GOTHICBI.TTF) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(/assets/fonts/MuseoSans-100.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSans";
  src: url(/assets/fonts/MuseoSans-300.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans";
  src: url(/assets/fonts/MuseoSans_500.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSans";
  src: url(/assets/fonts/MuseoSans_700.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(/assets/fonts/MuseoSansRounded300.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansRounded";
  src: url(/assets/fonts/MuseoSansRounded500.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(/assets/fonts/MuseoSansRounded700.otf) format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoSansRounded";
  src: url(/assets/fonts/MuseoSansRounded900.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}
